nav {
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 120px;
}

.nav-links {
    margin-top: 10px;
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font:bold;
}

.nav-links ul li ::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li :hover::after {
    width: 100%;
}


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color:rgba(250, 250, 252, 0.927);
    padding:0px;
   
}
.header {
    min-height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgba(13, 37, 109, 0.7), rgba(47, 101, 195, 0.7)), url(MAINf.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.headDiv{
    background-color: rgb(32, 114, 201);
}

.text-box {
    width: 90%;
    height: 40%;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h2{
    font-size: 42px;
    word-spacing: 20px;
}

.h{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-style: oblique;
  font-family:'sans-serif';
  margin:30px;
  color: rgb(0, 0, 0);
 
}
.ab{
    font-size: 25px;
    margin:20px;
    font-family:'sans-serif';
    font-style: italic;
    font-weight: 500;
   
}

.x{
    text-align: center;
    font-size: 30px;
     font-weight:bolder;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-style:italic;
     margin-top:30px;
}

.intro{
    text-align: center;
    font-size: 30px;
    font-family:' Arial, sans-serif';
    font-style:oblique;
    font-weight: lighter;
    margin-top:20px;
}
.lines{
    width:100%;
    height:45px;
    position:relative;
}
.lines::after,.lines::before{
    content:'';
    position:absolute;
    margin:auto;
    height:3px;
    background:rgb(7, 76, 155);
    width:43%;
    top:45%;
}
.lines::after{
    left:30px;
    
}
.lines::before{
    right:30px;
}
.circle{
    height:12px;
    width:12px;
    border:2px solid rgb(37, 34, 231);
    margin-top: -30px;
   margin-left: 800px;
    margin-bottom:30px; 
    left:0;
    right:0;
    top:0;
    bottom:0;
    border-radius:50%; 
    background-color: rgb(173, 219, 248); 

}
.circle1{
    height:12px;
    width:12px;
    border:2px solid rgb(37, 34, 231);
    margin-top: -46px;
    margin-left:755px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border-radius:50%; 
    background-color: rgb(173, 219, 248); 

}
.circle2{
    height:12px;
    width:12px;
    border:2px solid rgb(37, 34, 231);
    margin-top: -16px;
    margin-left:710px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border-radius:50%;
    background-color: rgb(173, 219, 248); 
}

.xtra{
    margin:30px;
}
.bb{
    display:inline-flex;
}
.box{
    width: 20%;
    float: left;
    margin:40px 40px;
    margin-right: 70px;
    margin-left:70px;
    background-color:rgb(244, 242, 194);
    padding:25px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    text-align: center;
}
.box h2{
    margin:15px;
}

.fdiv{
    color: white;
    text-align: right;
    margin:0px;
    margin-bottom: 10px;
    padding: 5px;
    background-color:rgba(31, 31, 31, 0.7);
    margin-right:40px;
    font-size: 15px;
}

.fsp{
    margin-top: 0px;
    margin-right: 20px;
    font-size: 15px;
    font:bold;
   
}

.term{
    display:inline-flex;
    
}
.t{
    color:white;
    margin-left: 45px;
    margin-bottom: 10px; 
    margin-right:60px;
    font-size: 12px;
    text-align: left;
}
.t .tul{
    margin-bottom: 10px;
    margin-top:10px;
}
.d{
    background-color: rgb(39, 39, 39);
   
}

.xf{
    color:white;
    text-align: right;
    margin-left: 1300px;
}
.foot {
    width: 100%;
    text-align: left;
    padding:5 10 20 10;
    margin-top:20px;
    background-color:rgb(35, 34, 34);
  
}

@media(max-width:760px)
{
    .circle{
        height:15px;
        width:15px;
    }
    .lines{
        height:45px;
    }
}